# Dependencies
node_modules/
dist/
build/
.DS_Store

# Environment Variables
.env
backend/.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.log

# Misc
package-lock.json
frontend/package-lock.json
backend/package-lock.json
